## Data Preprocessing

In [2]:
# Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [24]:
# Get the directory of each dataset 
path = os.path.dirname(os.path.abspath("Books.csv"))
book_path = path + "/datasets/Books.csv"
users_path = path + "/datasets/Users.csv"
ratings_path = path + "/datasets/Ratings.csv"

# Load the dataset
books_dataset = pd.read_csv(book_path)
users_dataset = pd.read_csv(users_path)
ratings_dataset = pd.read_csv(ratings_path)

# Print the first 5 rows of each dataset 
print("First 5 rows of books dataset")
print(books_dataset.head(5))

print("First 5 rows of users dataset")
print(users_dataset.head(5))

print("First 5 rows of ratings dataset")
print(ratings_dataset.head(5))

/var/folders/6h/7lvb_lgn72q_tx7jy1f2x36r0000gq/T/ipykernel_1192/1736871116.py:8: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_dataset = pd.read_csv(book_path)

First 5 rows of books dataset
         ISBN                                         Book-Title  \
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

            Book-Author Year-Of-Publication                   Publisher  \
0    Mark P. O. Morford                2002     Oxford University Press
1  Richard Bruce Wright                2001       HarperFlamingo Canada
2          Carlo D'Este                1991             HarperPerennial
3      Gina Bari Kolata                1999        Farrar Straus Giroux
4       E. J. W. Barber                1999  W. W. Norton &amp; Company

                                         Image-URL-S  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-L
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...
First 5 rows of users dataset
   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN
First 5 rows of ratings dataset
   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [27]:
# Display the statistical summary for each dataset
print("Books Dataset Summary: ")
print(books_dataset.describe())
print("-----------------------")

print("Users Dataset Summary: ")
print(users_dataset.describe())
print("-----------------------")

print("Ratings Dataset Summary:")
print(ratings_dataset.describe())
print("-----------------------")

Books Dataset Summary:
              ISBN      Book-Title      Book-Author  Year-Of-Publication  \
count       271356          271356           271356               271356
unique      271356          242132           102021                  202
top     0767409752  Selected Poems  Agatha Christie                 2002
freq             1              27              632                13902

        Publisher                                        Image-URL-S  \
count      271356                                             271356
unique      16806                                             271040
top     Harlequin  http://images.amazon.com/images/P/158314353X.0...
freq         7535                                                  2

                                              Image-URL-M  \
count                                              271356
unique                                             271040
top     http://images.amazon.com/images/P/158314353X.0...
freq                                                    2

                                              Image-URL-L
count                                              271353
unique                                             271037
top     http://images.amazon.com/images/P/158314353X.0...
freq                                                    2
-----------------------
Users Dataset Summary:
            User-ID            Age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000
-----------------------
Ratings Dataset Summary:
            User-ID   Book-Rating
count  1.149780e+06  1.149780e+06
mean   1.403864e+05  2.866950e+00
std    8.056228e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01
-----------------------

In [26]:
# Merge the ratings and users dataset together based on ID
merged_data = users_dataset.merge(ratings_dataset, on='User-ID')

# Check for missing values in each dataset
missing_merged = merged_data.isnull().sum()
missing_books = books_dataset.isnull().sum()
print("Missing values in merged dataset: ")
print(missing_merged, end="\n\n")

print("Missing values in books dataset: ")
print(missing_books)

# Remove the rows where Book-Author and Publisher are null
books_dataset.dropna(subset=['Book-Author', 'Publisher'], inplace=True)

Missing values in merged dataset:
User-ID             0
Location            0
Age            309492
ISBN                0
Book-Rating         0
dtype: int64

Missing values in books dataset:
ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64